@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html{
  background-color: #102041;
}

body{
  font-family: 'PT Sans', sans-serif;
}


.App {
  background-color: #102041;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Left-Intro {
  opacity: 0;
  animation-name: Fade-In, Fade-Out;
  animation-delay: 0.75s, 6.5s;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}


.Right-Intro {
  opacity: 0;
  animation-name: Fade-In, Fade-Out;
  animation-delay: 2.25s, 6.5s;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.FadeInOut{
  opacity: 0;
  animation-name: Fade-In, Fade-Out;
  animation-delay: 3.75s, 6.5s;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}


@keyframes Fade-In {
  to{opacity: 100%;}
}

@keyframes Fade-Out {
  to{opacity: 0%;}
}